/*default*/
*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}


img {
	vertical-align: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

/* basic info========================================== */
html,
body {
	height: 100%;
	width: 100%;
	padding: 0;
	line-height: 1;
	font-size: 24px;
	color: #565349;
	font-family: Lato, sans-serif;
	font-weight: 300;
	background: url(images/background-pic.png) no-repeat center center fixed;
	background-size: cover;
}

.wrapper {
	min-height: 100%;
	overflow: hidden;
	width: 100%;
	height: 100%;
	margin: 0;
	position: absolute;

}

a:visited {
	color: #565349;
}

@media (max-width: 300vw) {
    html, body { font-size: 45%; }
}

@media (min-width: 300vw) {
    html, body { font-size: 45%; }
}

@media (min-width: 350vw) {
    html, body { font-size: 60%; }
}

@media (min-width: 500vw) {
    html, body  { font-size: 70%; }
}


@media (min-width: 600vw) {
    html, body  { font-size: 80%; }
}

@media (min-width: 1080vw) {
    html, body  { font-size: 90%; }
}

@media (min-width: 1200vw) {
    html, body  { font-size: 100%; }
}


/*=======================================================*/

header {
	width: 100%;
	height: 14vh;
	position: absolute;
	margin-top: 0;
	box-sizing: content-box;
	

}

main {
	width: 100%;
	height: 100%;
	position: relative;
	margin-top: 14vh;
}

.navigation {
	width: 74vw;
	height: 6vh;
	margin: 0 auto;
	margin-top: 8vh;
	position: relative;
	z-index: 150;

	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	-o-box-sizing: content-box;
	box-sizing: content-box;

}



.menu {

	white-space: nowrap;
	height: 6vh;

	-webkit-display: flex;
	-moz-display: flex;
	-o-display: flex;
	display: flex;

	-webkit-justify-content: space-between;
	-moz-justify-content: space-between;
	-o-justify-content: space-between;
	justify-content: space-between;

}

nav a {
	display: flex;
	align-items: center;

	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	-o-box-sizing: content-box;
	box-sizing: content-box;

	font-size: 2.7vh;
	line-height: 2.7vh;
	color: #565349;
	margin-bottom: 0;

}


nav a:first-child {
	margin-right: 10vw;
}

nav a:nth-child(3) {
	margin-left: 6vw;
}

nav a:nth-child(4) {
	margin-left: 6vw;
	margin-right: 6vw;
}


.lefties {
	font-size: 2.7vh;
	height: 6vh;

	-webkit-display: flex;
	-moz-display: flex;
	-o-display: flex;
	display: flex;

	-webkit-align-items: center;
	-moz-align-items: center;
	-o-align-items: center;
	align-items: center;

}

#logo {
	font-size: 5vh;
	font-weight: 900;
	font-style: italic;
	text-transform: uppercase;
	white-space: nowrap;
	margin-left: 0;
}


/*======buttons======================================================*/

.shop {
	position: absolute;
	margin-top: 26vh;
	margin-left: 13vw;
	width: 21vw;
	height: 23vh;

	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	-o-box-sizing: content-box;
	box-sizing: content-box;

	text-align: right;


}

h1 {
	font-size: 17.4vh;
	font-weight: 700;
	text-transform: uppercase;
	position: relative;
}

h1:hover {
	cursor: pointer;
}

.main-button {
	position: relative;
	margin-top: 1vh;
	width: 11vw;
	height: 6vh;
	background-color: #CCE3E1;
	text-align: center;

	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	-o-box-sizing: content-box;
	box-sizing: content-box;


	-webkit-border-radius: 8vh;
	-moz-border-radius: 8vh;
	-o-border-radius: 8vh;
	border-radius: 8vh;

	color: #565349; 
	font-size: 2.5vh;
	font-weight: 400;
	text-transform: uppercase;
	cursor: pointer;

	-webkit-box-shadow: 0 1vh 1vh rgba(0,0,0,0.25), 0 0.5vh 1vh rgba(0,0,0,0.22);
	-moz-box-shadow: 0 1vh 1vh rgba(0,0,0,0.25), 0 0.5vh 1vh rgba(0,0,0,0.22);
	-o-box-shadow: 0 1vh 1vh rgba(0,0,0,0.25), 0 0.5vh 1vh rgba(0,0,0,0.22);
	box-shadow: 0 1vh 1vh rgba(0,0,0,0.25), 0 0.5vh 1vh rgba(0,0,0,0.22);
}

.main-button:active {

	-webkit-box-shadow: 0 1vh 2vh #000;
	-moz-box-shadow: 0 1vh 2vh #000;
	-o-box-shadow: 0 1vh 2vh #000;
	box-shadow: 0 1vh 2vh #000;

	-webkit-transform: translateY(0.4vh);
	-moz-transform: translateY(0.4vh);
	-o-transform: ttranslateY(0.4vh);
	transform: translateY(0.4vh);
}


.side-button {
	position: absolute;
	margin-top: 46vh;
	margin-left: 92vw;
	text-align: center;
	vertical-align: middle;
	padding: 1.4vh 0.7vw;
	border: solid;
	border-width: thick;
	color: #565349;

	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	-o-box-sizing: content-box;
	box-sizing: content-box;

	-webkit-border-radius: 13vh;
	-moz-border-radius: 13vh;
	-o-border-radius: 13vh;
	border-radius: 13vh;


	background-color: rgba(255, 255, 255, 0);
	cursor: pointer;

	-webkit-box-shadow: 0 1vh 1vh rgba(0,0,0,0.25), 0 0.5vh 1vh rgba(0,0,0,0.22);
	-moz-box-shadow: 0 1vh 1vh rgba(0,0,0,0.25), 0 0.5vh 1vh rgba(0,0,0,0.22);
	-o-box-shadow: 0 1vh 1vh rgba(0,0,0,0.25), 0 0.5vh 1vh rgba(0,0,0,0.22);
	box-shadow: 0 1vh 1vh rgba(0,0,0,0.25), 0 0.5vh 1vh rgba(0,0,0,0.22);
}

.side-button:active {

	-webkit-box-shadow: 0 1vh 2vh #000;
	-moz-box-shadow: 0 1vh 2vh #000;
	-o-box-shadow: 0 1vh 2vh #000;
	box-shadow: 0 1vh 2vh #000;

	-webkit-transform: translateY(0.4vh);
	-moz-transform: translateY(0.4vh);
	-o-transform: ttranslateY(0.4vh);
	transform: translateY(0.4vh);
}

.bottom-button {
	position: absolute;
	margin-top: 73vh;
	margin-left: 50vw;
	text-align: center;
	padding: 1.4vh 0.7vw;
	border: solid;
	border-width: thick;

	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	-o-box-sizing: content-box;
	box-sizing: content-box;

	-webkit-border-radius: 13vh;
	-moz-border-radius: 13vh;
	-o-border-radius: 13vh;
	border-radius: 13vh;


	background-color: rgba(255, 255, 255, 0);
	color: rgba(255, 255, 255);
	cursor: pointer;

	-webkit-box-shadow: 0 1vh 1vh rgba(0,0,0,0.25), 0 0.5vh 1vh rgba(0,0,0,0.22);
	-moz-box-shadow: 0 1vh 1vh rgba(0,0,0,0.25), 0 0.5vh 1vh rgba(0,0,0,0.22);
	-o-box-shadow: 0 1vh 1vh rgba(0,0,0,0.25), 0 0.5vh 1vh rgba(0,0,0,0.22);
	box-shadow: 0 1vh 1vh rgba(0,0,0,0.25), 0 0.5vh 1vh rgba(0,0,0,0.22);

}

.bottom-button:active {

	-webkit-box-shadow: 0 1vh 2vh #000;
	-moz-box-shadow: 0 1vh 2vh #000;
	-o-box-shadow: 0 1vh 2vh #000;
	box-shadow: 0 1vh 2vh #000;

	-webkit-transform: translateY(0.4vh);
	-moz-transform: translateY(0.4vh);
	-o-transform: ttranslateY(0.4vh);
	transform: translateY(0.4vh);
}

.read-more {
	width: 11vw;
	height: 6vh;
	background-color: #CCE3E1;

	-webkit-border-radius: 8vh;
	-moz-border-radius: 8vh;
	-o-border-radius: 8vh;
	border-radius: 8vh;

	text-align: center;
	font-size: 2.7vh;
	font-weight: 400;
	line-height: 2.7vh;
	color: #565349;
	text-transform: uppercase;
	position: relative;
	margin: 0 auto;
	cursor: pointer;

	-webkit-box-shadow: 0 1vh 1vh rgba(0,0,0,0.25), 0 0.5vh 1vh rgba(0,0,0,0.22);
	-moz-box-shadow: 0 1vh 1vh rgba(0,0,0,0.25), 0 0.5vh 1vh rgba(0,0,0,0.22);
	-o-box-shadow: 0 1vh 1vh rgba(0,0,0,0.25), 0 0.5vh 1vh rgba(0,0,0,0.22);
	box-shadow: 0 1vh 1vh rgba(0,0,0,0.25), 0 0.5vh 1vh rgba(0,0,0,0.22);
}							/*button*/

.read-more:active {

	-webkit-box-shadow: 0 1vh 2vh #000;
	-moz-box-shadow: 0 1vh 2vh #000;
	-o-box-shadow: 0 1vh 2vh #000;
	box-shadow: 0 1vh 2vh #000;

	-webkit-transform: translateY(0.4vh);
	-moz-transform: translateY(0.4vh);
	-o-transform: ttranslateY(0.4vh);
	transform: translateY(0.4vh);
}

/*===========bottom menu==================================*/

#bottom {
	display: none;
}

.hiding-info {
	position: absolute;
	width: 66vw;
	height: 22vh;
	font-size: 3vh;

	-webkit-border-radius: 45px;
	-moz-border-radius: 45px;
	-o-border-radius: 45px;
	border-radius: 45px;

	background-color: rgba(255, 255, 255, .8);

	-webkit-display: flex;
	-moz-display: flex;
	-o-display: flex;
	display: flex;

	-webkit-justify-content: space-around;
	-moz-justify-content: space-around;
	-o-justify-content: space-around;
	justify-content: space-around;

	text-align: center;
	padding-top: 2vh;
	margin-left: 17vw;
	margin-top: 64vh;
	position: fixed;



}

.hiding-info:target {

	-webkit-transform: translate(-50%, 0);
	-moz-transform: translate(-50%, 0);
	-o-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
}

.hiding-info img {
	width: 6vw;
	height: auto;
	padding-top: 1vh;
}



.arrow {
	position: absolute;
	margin-top: 57.5vh;
	margin-left: 79vw;
	background-color: transparent;

}

.arrow img {
	width: 5.7vh;
	height: auto;
}

.hiding-info h2 {
	font-size: 75%;
	font-weight: 900;
}


.hiding-info img:hover {
	cursor: pointer;
}

.hiding-info h2:hover {
	cursor: pointer;
}

.arrow:hover {
	cursor: pointer;
}

/*===========customer reviews=================================*/


#side {
	display: none;
	
}


.reviews {
	position: absolute;
	margin-top: 8vh;
	margin-left: 76vw;
	width: 22vw;
	height: 78vh;

	-webkit-border-radius: 45px;
	-moz-border-radius: 45px;
	-o-border-radius: 45px;
	border-radius: 45px;

	background-color: rgba(255, 255, 255, .8);
	text-align: center;

	-webkit-display: flex;
	-moz-display: flex;
	-o-display: flex;
	display: flex;

	-webkit-justify-content: space-around;
	-moz-justify-content: space-around;
	-o-justify-content: space-around;
	justify-content: space-around;

	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	

}							/*all text block*/

h3 {
	font-size: 3vh;
	font-weight: 700;

}

h4 {
	font-weight: 300;
	text-align: left;
	margin: 2vh 4vw 1vh 1vw;


}
.text {
	font-size: 2.3vh;
	font-weight: 300;
	text-align: left;
	margin-left: 1vw;

}							/*main text block*/

.customer {
	-webkit-display: flex;
	-moz-display: flex;
	-o-display: flex;
	display: flex;

	-webkit-justify-content: space-between;
	-moz-justify-content: space-between;
	-o-justify-content: space-between;
	justify-content: space-between;
}							/*1/2 block*/

.avatar {
	width: 6vw;
	height: auto;
	position: absolute;
	margin-left: 14vw;
	margin-top: -3vh;

	
}

.review {
	margin: 0vh 7.5vw 1vh 1vw;
	position: relative;

}							/*1/2 only text*/

.stars {
	width: 7vw;
	height: auto;
	position: relative;
	margin: 0vh 4vw 1vh 1vw;


}


.close {
	position: absolute;
	margin-left: 73.5vw;
	margin-top: 8vh;
	background-color: transparent;
	cursor: pointer;
}

.close img {
	height: 5.7vh;
	width: auto;
}

 .closed {
 	display: none;
 }

 .open {
 	display: block;
 }


 /*----------tooltips---------------------------------------------*/

.shop-button .tooltiptext {
	visibility: hidden;

	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	-o-box-sizing: content-box;
	box-sizing: content-box;

	background-color: rgba(0, 0, 0, 0.72);
	color: #fff;
	text-align: center;


	padding: 0.5vw 0.5vh;
	position: absolute;
	z-index: 101;
	top: 6vh;
	left: 0;
	font-size: 2.5vh;
	line-height: 1;
	font-family: Roboto;
	font-weight: 300;
	letter-spacing: normal;
	text-transform: lowercase;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;

}

.shop-button:hover .tooltiptext {
	visibility: visible;
}

.shop-button:active .tooltiptext {
	visibility: visible;
}



.more .tooltiptext {
	visibility: hidden;

	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	-o-box-sizing: content-box;
	box-sizing: content-box;

	background-color: rgba(0, 0, 0, 0.72);
	color: #fff;
	text-align: center;

	padding: 0.5vw 0.5vh;
	position: absolute;
	z-index: 101;
	bottom: 0;
	right: 11vw;
	font-size: 2.5vh;
	line-height: 1;
	font-family: Roboto;
	font-weight: 300;
	letter-spacing: normal;
	text-transform: lowercase;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;

}

.more:hover .tooltiptext {
	visibility: visible;
}

.more:active .tooltiptext {
	visibility: visible;
}

.peace {
	font-size: 150%;
}
/*---------------------------------------------------------------*/
#song1 {
	position: absolute;
	margin-left: 13vw;
	margin-top: 7vh;
	padding-bottom: 1vh;
}

#song2 {
	position: absolute;
	margin-left: 13vw;
	margin-top: 14vh;
	padding-bottom: 1vh;
}

#song3 {
	position: absolute;
	margin-left: 13vw;
	margin-top: 21vh;
	padding-bottom: 1vh;
}



